.titulo-dashboard{

    font-size:36px;

    font-weight:bold;

    margin-bottom:10px;

}

.subtitulo{

    color:#777;

    margin-bottom:35px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

    gap:25px;

}

.card-dashboard{

    background:white;

    border-radius:15px;

    padding:30px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.card-dashboard:hover{

    transform:translateY(-8px);

}

.card-dashboard h2{

    font-size:40px;

    color:#0B3D91;

}

.card-dashboard span{

    color:#666;

}

.icone{

    font-size:50px;

    color:#0B3D91;

    margin-bottom:15px;

}