.main-layout {
  display: flex;
  min-height: 100vh;
  background: #f4f6f9;
}

.sidebar-area {
  width: 260px;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  min-width: 0;
}

.page-area {
  padding: 24px;
}

.mobile-menu-btn {
  display: none;
}

/* CELULAR */
@media (max-width: 768px) {
  .main-layout {
    display: block;
  }

  .mobile-menu-btn {
    display: block;
    width: 100%;
    padding: 14px;
    border: none;
    background: #0b3d91;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .sidebar-area {
    display: none;
    width: 100%;
  }

  .sidebar-area.aberto {
    display: block;
  }

  .main-content {
    width: 100%;
  }

  .page-area {
    padding: 14px;
  }
}